modules = ["nodejs-24", "python-3.11", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true
integrations = ["google-sheet:1.0.0", "google-drive:1.0.0"]

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
DISABLE_GEOFENCE = "true"

[userenv.shared]
AI_INTEGRATIONS_ANTHROPIC_API_KEY = "_DUMMY_API_KEY_"
AI_INTEGRATIONS_ANTHROPIC_BASE_URL = "http://localhost:1106/modelfarm/anthropic"
CLERK_PUBLISHABLE_KEY = "pk_test_c21vb3RoLWhvcm5ldC02MC5jbGVyay5hY2NvdW50cy5kZXYk"
CLERK_SECRET_KEY = "sk_test_SGFUYyb3uH3NVL9YW1eaAdBFpKp1gdhNxjr0sxcGES"
SESSION_SECRET = "Ctfxj8c7kSNqkh+CatrIbhK109js/AVI54S5PB1E8x75vGBoFiLcHhtk3EDjC6SpMlGlLoCiH0aFZ8C/fBHGOA=="
VITE_CLERK_PUBLISHABLE_KEY = "pk_test_c21vb3RoLWhvcm5ldC02MC5jbGVyay5hY2NvdW50cy5kZXYk"
VITE_GOOGLE_MAPS_API_KEY = "AIzaSyCMLcC7ys5LyTgQngrnA_VsHCLvlPepVKE"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 24032
externalPort = 3000
